<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sfxc.dao.CourtResultZjwlxxDao">
  <resultMap id="base" type="com.sfxc.entity.CourtResultZjwlxx">
  </resultMap>
  
  <select id="insert" resultMap="base" parameterType="com.sfxc.entity.CourtResultZjwlxx">
    insert into COURT_RESULT_ZJWLXX (ID, BDHM, CCXH, 
      WLXH, ZJLX, ZCKZH, ZCKZXM, 
      BZ, JE, JYSJ, PROVIDER, 
      PROVIDETIME)
    values (s_key.nextval, #{bdhm}, #{ccxh}, 
      #{wlxh}, #{zjlx}, #{zckzh}, #{zckzxm}, 
      #{bz}, #{je}, #{jysj}, #{provider}, 
      #{providetime})
  </select>
  <select id="findAllList" resultMap="base" parameterType="com.sfxc.entity.CourtResultZjwlxx">
		SELECT t.* FROM COURT_RESULT_ZJWLXX t where 1=1
		and BDHM=#{bdhm}
		<if test="id!=null and id!='' ">
		and id=#{id}
		</if>
	</select>
	<select id="update" resultMap="base" parameterType="com.sfxc.entity.CourtResultZjwlxx">
		update  COURT_RESULT_ZJWLXX 
		set CCXH=#{ccxh},WLXH=#{wlxh},ZJLX=#{zjlx},ZCKZH=#{zckzh},ZCKZXM=#{zckzxm},BZ=#{bz},
		JE=#{je},JYSJ=#{jysj},PROVIDER=#{provider},PROVIDETIME=#{providetime}
		where id=#{id}
 </select>	
 <select id="delete" resultMap="base" parameterType="com.sfxc.entity.CourtResultZjwlxx">
		delete  COURT_RESULT_ZJWLXX 
		where id=#{id}
 </select>
</mapper>