<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sfxc.dao.ProResultBxgxxDao" >
  <resultMap id="base" type="com.sfxc.entity.ProResultBxgxx" ></resultMap>


  <select id="insert" resultMap="base" parameterType="com.sfxc.entity.ProResultBxgxx" >
    insert into PRO_RESULT_BXGXX (KEYID, BDHM, BXGXH, 
      BXGH, FKSJ, BXGZT, 
      SZWD, ZYKSSJ, ZYJSSJ, 
      BEIZ, PROVIDER, PROVIDETIME
      )
    values (s_key.nextval, #{bdhm}, #{bxgxh}, 
      #{bxgh}, #{fksj}, #{bxgzt}, 
      #{szwd}, #{zykssj}, #{zyjssj}, 
      #{beiz}, #{provider}, #{providetime}
      )
  </select>
 <select id="findAllList" resultMap="base" parameterType="com.sfxc.entity.ProResultBxgxx">
		SELECT t.* FROM PRO_RESULT_BXGXX t where 1=1
		and BDHM=#{bdhm}
		<if test="keyid!=null and keyid!='' ">
		and keyid=#{keyid}
		</if>
	</select>
	<select id="update" resultMap="base" parameterType="com.sfxc.entity.ProResultBxgxx">
		update  PRO_RESULT_BXGXX 
		set BXGXH=#{bxgxh},BXGH=#{bxgh},FKSJ=#{fksj},BXGZT=#{bxgzt},SZWD=#{szwd},ZYKSSJ=#{zykssj},
		ZYJSSJ=#{zyjssj},BEIZ=#{beiz},PROVIDER=#{provider},PROVIDETIME=#{providetime}
		where keyid=#{keyid}
 </select>
   <select id="delete" resultMap="base" parameterType="com.sfxc.entity.ProResultBxgxx">
		delete  PRO_RESULT_BXGXX 
		where keyid=#{keyid}
 </select>	
</mapper>